@import "settings";
@import "foundation";

body {
  padding: 2em 0;
  background-image: url('/images/lrg_logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
